<!DOCTYPE html>
<html lang="en">
<head>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1643059665962235',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>This is in BAse</h1>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>