<!DOCTYPE HTML>
<html>
<head>
		<title>Meet me</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<!--[if lte IE 8]><!--<script src="assets/js/ie/html5shiv.js"></script>--><![endif]-->
		{% load staticfiles %}
		<link href="{% static "assets/js/ie/html5shiv.js" %}" rel="script"/>
		<!--<link rel="stylesheet" href="assets/css/main.css" />-->
		<link href="{% static "assets/css/main.css" %}" rel="stylesheet" type="text/css"/>
		<!--[if lte IE 8]><!--<link rel="stylesheet" href="assets/css/ie8.css" />--><![endif]-->
				<link href="{% static "assets/js/jquery.min.js" %}" rel="script"/>
		<link href="{% static "assets/js/skel.min.js" %}" rel="script"/>
		<link href="{% static "assets/js/skel-viewport.min.js" %}" rel="script"/>
		<link href="{% static "assets/js/util.js" %}" rel="script"/>
			<!--<script src="assets/js/jquery.min.js"></script>-->
			<!--<script src="assets/js/jquery.dropotron.min.js"></script>-->
			<!--<script src="assets/js/skel.min.js"></script>-->
			<!--<script src="assets/js/skel-viewport.min.js"></script>-->
			<!--<script src="assets/js/util.js"></script>-->
			<!--&lt;!&ndash;[if lte IE 8]><!--<script src="assets/js/ie/respond.min.js"></script>-->
			<!--<script src="assets/js/main.js"></script>-->
	<link href="{% static "assets/js/main.js" %}" rel="script"/>

	</head>
	</body>
</html>

<center><h3 style="margin-top:5%">You have been removed from the meeting.</h3></center>
{% endblock content %}


